
$highlight: #70E4E1;
$highdark: #146B68;
$highshade: #0C413F;

$highlight_alt: #E47070;
$highdark_alt: #B42222;

$trueback: black;

$bgcolor1: rgba(0, 0, 0, 1);
$bgcolor05: rgba(0, 0, 0, 0.5);

$fgcolor1: white;
$fgcolor05: rgba(255, 255, 255, 0.5);

$bgcolorB1: rgba(233, 251, 250, 1);
$bgcolorB08: rgba(233, 251, 250, 0.8);
$bgcolorB05: rgba(233, 251, 250, 0.5);

$fgcolorD1: black;