
@import url('https://fonts.googleapis.com/css?family=Fondamento|Metamorphous|Noto+Sans|Stoke|Ubuntu+Mono');

$title_font: "Metamorphous", serif;
$serif_font: "Stoke", "Constantia", serif;
$sans_font: "Noto Sans", "Calibri", sans-serif;
$code_font: "Ubuntu Mono", monospace;
$note_font: "Fondamento", serif;