
body #content #main #panels #cpanel #past_sec {

	#pann_loading {
		width: 20%;
		margin: 1em 40% 1em 40%;

		img {
			width: 100%;
		}
	}

	.pann_buttons .sub {
		padding-top: 0.3em;
		padding-bottom: 0.3em;
	}
}